<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <h5>Many different art forms have been practiced in India and some of them have survived through time. Being culturally diverse and distinct, India has a variety of art forms practiced in different parts of the country. Some have evolved over time, adapting to new materials and paint colours, while others have been untouched by modernisation.
                Each form of art is unique in its own way and greatly admirable. Traditionally, these art forms existed only in wall paintings or murals. But today, they are also found in canvas, paper, cloth, etc. Here is a list of different Indian art forms, some still in practice and others not.
            </h5>

        </div>
        <div class="col d-flex justify-content-center">
            <img class="img-fluid" width="" height="" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/the-mughal-shah-jahan-mumtaz-finest-miniature-painting-university-of-arts.jpg" alt="">
        </div>
    
        
</div>
</div>
